.centering{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.SignUpHeader{
	font-size:7vh;
}

.SignUpForm{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	max-width: 700px;
	min-width:400px;
	min-height: 150px;
	white-space: nowrap;
}

.SignUpForm>div{
	width:100%;
	display:flex;
}

.SignUpForm>div>div{
	width:100%;
	display:flex;
	flex-direction: column;
    justify-content: center;
	padding: 0 10px;
}

.SignUpForm label{
	width:20%;
}

.SignUpForm input[type="submit"]{
	width:50%;
	margin:5% 0;
}

.logInSpacer{
	margin:5vh 0;
}